#navbar {
    display: flex;
    flex-direction: row;
    height: 6vh;
    padding: 10px;
    align-items: center;
}

#navbar button {
    height: 30px;
    padding: 10px;
}

#logout {
    margin-left:auto;
}