.fade-in {
    animation: fadeInAnimation 0.15s linear;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
#notification-container {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    position: fixed;

    top: 20px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content;
    z-index: 2;
    gap: 8px;
}

.notification {
    pointer-events: none;
    list-style: none;
    background-color: rgba(17, 181, 176, 0.4);
    border-radius: 5px;
    padding: 10px;

    z-index: 999;
    color: black;

    font-weight: 500;

    &.error {
        background-color: var(--danger-transparent);
    }
    &.success {
        background-color: var(--success-transparent);
    }
}