#upcoming-activities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#activities-container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;

    gap: 10px;
}

.activity {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    height: fit-content;
    gap: 5px;
    background-color: var(--dark-background-color);
    box-shadow: 0 0 10px 2px gray;

    transition: 0.3s;

    padding: 10px;
    border-radius: 10px;

    .activity-field {
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: 5px;

        justify-content: center;
        align-items: center;
        
        .activity-field-label {
            color: rgb(169, 169, 169);
        }

        .activity-field-value {
            color: white;
            
            >.attendees-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 3px;
                >div {
                    transition: 0.3s;
                    background-color: rgb(58, 58, 58);
                    color: whitesmoke;
                    &:hover {
                        cursor: pointer;
                        background-color: var(--main-color);
                    }
                }
            }    
        }
    }


    &:hover {
        transform: scale(1.03);
    }
}

#activity-check-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}