#dashboard_container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#upcoming-activities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#activities-container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;

    gap: 10px;
}

.activity {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(39, 39, 39);
    box-shadow: 0 0 10px 2px gray;

    transition: 0.3s;

    padding: 10px;
    border-radius: 10px;

    .activity-field {
        margin: 0;
        
        .activity-field-label {
            color: rgb(169, 169, 169);
        }

        .activity-field-value {
            color: white;
        }
    }

    &:hover {
        transform: scale(1.03);
    }
}

#activity-check-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}