.container {
    position: fixed;
    right: 0;
    bottom: 0;

    z-index: 1000;

    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .bot_container {
        width: fit-content;
        background-color: whitesmoke;
        border-radius: 20px;

        height: fit-content;
        border: 1px solid black;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;


        div {
            display: flex;
            flex-direction: row;
            width: 100%;
            h1 {
                font-size: 2rem;
                margin: 0;
                margin-left: auto;
            }
            button {
                width: fit-content;
            }
        }


        input {
            width: 80%;
            font-size: 1rem;
            padding: 8px;
        }

        button {
            height: 64px;
            width: 75%;
            outline: none;

            border: 1px solid black;
            border-radius: 16px;
            cursor: pointer;
            opacity: 0.5
        }

        button:hover {
            background-color: black;
            opacity: 1;
            border-width: 2px;
        }

        span {
            word-wrap:break-word;
            padding: 10px;
            width: 80%;
        }
    }
}

#open_chatbot {
    z-index: 999;
    position: fixed;
    bottom: 108px;
    right: 20px;

    width: fit-content;
    height: 50px;
    border-radius: 100px;
    background-color: black;
    color: white;
}

#open_chatbot:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}