#map-container {
  display: flex;
  width: 100%;
  height: 100%;
  border: 0.5px black solid;
}

#map-wrapper {
  position:relative;
  display:flex;
  flex-direction: column;
  align-self: center;
  width: 70vw;
  height: 70vh;
  background-color: black;
  @media (max-width: 600px) {
    width: 90vw;
  }
}

#map-wrapper-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#map-search {
  position: absolute;
  z-index: 999;
  right: 0
}

#map-spinner {
  position: absolute;
  top: 40%;
  left:47%;
  z-index: 1000;
}