#survey-container {
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    margin-left: auto;
    margin-right: auto;

    z-index: 2;
    
    .survey-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30rem;
        height: 35rem;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 8px;
        box-shadow: 0 0 10px 2px gray;
        padding: 16px 16px;
        background-color: white;

        .survey-header {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
                font-size: 32px;
                margin-bottom: 0;
            }
        }

        .survey-buttons {
            display: flex;
            justify-content: center;

            button {
                margin: 0 8px;
            }
        }
    }

}
