.user-details {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 10px;

    > div {
        background-color: rgb(247, 247, 247);
        align-items: center;

        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 15px;

        > label {
            font-weight: 500;
        }
    }

    > button {
        margin-top: 10px;
        &:hover {
           background-color: #00AB66;
        }
    }
}