#chat-list-container {
    position: fixed;
    right: 25vmin;
    bottom: 0;

    z-index: 999;

    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    gap: 5px;

    > .chat-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 390px;
        min-width: 290px;
        background-color: whitesmoke;
        border-radius: 5px;
        box-shadow: 0 0 3px 1px rgb(142, 142, 142);
        gap: 8px;

        >.chat-title-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: var(--main-color);
            color: white;
            font-weight: 500;
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            align-items: flex-start;
            padding: 0 0 0 15px;
            border-bottom: 1px solid black;
            > p {
                margin: 0;
                padding: 5px 0 0 0;
            }
        }

        > .messages-container {
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            background-color: white;
            padding: 10px;

            height: 30vh;
            overflow-y: scroll;
            min-width: 260px;
            gap: 8px;
        }

        > .message-input-container {
            display: flex;
            flex-direction: row;
            position: relative;
            > textarea {
                font-size: 0.8rem;
                border-radius: 5px;
                box-shadow: 0 0 3px 0.3px rgb(142, 142, 142);
                border: none;
                max-height: 80px;
                min-height: 60px;
                width: 260px;
            }
            >.send-icon {
                color: #333;
                width: 25px;
                height: 25px;
                align-self: center;
                position: absolute;
                right: 15px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #chat-list-container {
        > .chat-container:not(:last-child) {
            display: none;
        }
    }
}