#history-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#history-lists-container {
    display:flex;
    flex-direction: row;
    width: 100%;
    max-width: 1300px;
    height: 100%;

    padding: 0 24px;
    align-items: flex-start;
    justify-content: space-evenly;

    #activities-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: center;
        align-items: center;

        max-height: 90vh;
        overflow: auto;
    }

    #survey-list {
        margin-bottom: 10em;
    }

}

@media (max-width: 768px) {
    #history-lists-container {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (min-width: 769px) {
    #history-container {
        height: 100%;
        overflow: hidden;
    }
}

