#history-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#history-lists-container {
    display:flex;
    flex-direction: row;
    width: 100%;
    max-width: 1300px;

    align-items: flex-start;
    justify-content: space-evenly;

    #activities-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: center;
        align-items: center;

        max-height: 90vh;
        overflow: auto;
    }

}